# dependencies
/node_modules

# production
/build

# misc
.DS_Store
*.pem


# local env files
.env
artifacts
cache 

# vercel
.vercel

# typescript 
typechain 
typechain-types

# coverage
coverage.json
coverage